.contenedor_1 {
  margin-left: 30px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

#luchosoft{
  margin-left: 8px;
}

.centrar {
  align-items: flex-end;
  margin-left: 10px;
  margin-top: 18px;
  justify-content: center;
}

.parrafo1 {
  margin-right: -100px;
}


.barraPrincipal {
  color: rgb(255, 255, 255);
  border-right: 1;
  border: 1px solid #1F67B9;
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  position: relative; /* Asegúrate de que el elemento tenga posición relativa */
  z-index: -1; /* Establece un z-index negativo */
}


.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.contenedor {
  display: flex;
}

.barraLateral {
  flex: 2;
  /* Ocupa 4/5 del ancho disponible */
  
  background-color: #1f67b922;
  padding: 20px;
  border-top: 10mm rgb(30, 51, 210);
  border-right: 1px solid #707072;

  /* Agregar un borde derecho */
}

.contenido {
  flex: 12;
  /* Ocupa 1/5 del ancho disponible */
  background-color: #7f81f3;
  padding: 20px;
  margin-right: -20px;
  color: rgb(0, 0, 0);
}

/*Menu------------------------------------------------------------------------------------------------------------------*/

.sidebar {
  width: 250px;
  color: white;
}

.module {
  padding: 10px;
}


.module-heading {
  margin: 0;
  padding: 10px;
  cursor: pointer;
  background-color: #d8d8ef;
  /* Color de fondo para el encabezado del módulo */
  color: rgb(0, 0, 0);
  /* Color del texto del encabezado del módulo */
  border-radius: 5px;
  /* Bordes redondeados */
  border: 2px solid #8b8b8b;
  font-size: 15px;
  /* Cambia el tamaño de fuente a 18px */
}


.module-heading.selected {
  background-color: #cecce8;
}

.options {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  margin-left: 20px;
  display: none;
}

.options.active {
  display: block;
}

.options li {
  padding: 5px;
  background-color: #d8d8ef;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: 2px solid #6d6d6d;
  margin-bottom: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options li:hover,
.options li.selected {
  background-color: #e6e6ed;
}

.usuario {
  margin-top: 40px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.usuario-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.usuario-link img {
  height: 30px;
  margin-right: 10px;
}

.usuario-link span {
  font-size: 16px;
  font-weight: bold;
}

.module-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-icon {
  transition: transform 0.3s;
}

.module-heading.selected .arrow-icon {
  transform: rotate(90deg);
}

.contenido {
  margin-top: 10px;
  background-color: white;
}

.yellow-underline {
  color: #FAC710;
  text-decoration: underline;
  cursor: pointer;
}

a {
  color: black; /* Cambia el color del texto a negro */
  text-decoration: none; /* Elimina el subrayado del texto */
}


.boton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.iconosRojos{
  color: #E12424;
}


/* Estilo de las celdas de encabezado */
.tablaDT th {
  background-color: #f2f2f2;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Estilo de las celdas de datos */
.tablaDT td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
